@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

#grid {
  padding: 20px 0 0 0;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.block {
  margin: 1px;
  float: left;
}

.block.full {
  height: 10px;
  width: 10px;
  background-color: #000;
}

.block.empty {
  height: 8px;
  width: 8px;
  border: 1px solid #000;
}

#copyHtml {
  display: none;
  visibility: hidden;
}

#loadergroup{
  visibility: hidden;
  display: none;
}

#loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin: 20px 0 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}